/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4 {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 100%;
  font-family: sans-serif;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General layout */

main section {
  margin: 0 0.5em;
}

/* Task list */

ul.tasklist {
  list-style-type: none;
  padding: 0;
}

ul.tasklist li {
  margin: 0.3em 0;
}

ul.tasklist p {
  margin: 0;
}

/* New note form */

#note-add-form {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.18);
  background-color: #fff;
  padding: 0.3em 0.5em;
  width: 60%;
  margin: 2em auto;
}

#new_note_title {
  display: none;
}

#note-add-form .buttons {
  display: none;
}

#note-add-form .buttons > .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none; 
  padding: 0;
}

#note-add-form .buttons .container button {
  background-color: transparent;
  color: blue;
  border: 0px solid;
  outline: 0;
  vertical-align: -50%;
}

/* Notes list */

#notes-list {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1em;
}

#notes-list .note {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.18);
  background-color: #fff;
  padding: 0.3em 0.5em;
}

#notes-list .note > .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#notes-list .note .content {
  flex-grow: 1;
}

#notes-list .note .buttons, #notes-list .note h3 {
  flex-shrink: 0;
}

#notes-list .note .buttons .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

#notes-list .note .buttons .container button {
  background-color: transparent;
  border: 0px solid;
  outline: 0;
  vertical-align: -50%;
}

#notes-list .note .buttons .container button > img {
  opacity: 0
}

#notes-list .note:hover .buttons .container button > img {
  opacity: 1;
}

/* Edit dialog */

#edit-dialog {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.18);
  background-color: #fff;
  padding: 0.3em 0.5em;
  width: 80%;
}

#edit-dialog > .container {
  padding: 0.5em 0.8em;
}

#note-edit-form .buttons > .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none; 
  padding: 0;
}

#note-edit-form .buttons .container button {
  background-color: transparent;
  color: blue;
  border: 0px solid;
  outline: 0;
  vertical-align: -50%;
}

/* ProseMirror specific styles */

.ProseMirror[data-placeholder]::before {
  color: #d1d1d1;
  position: absolute;
  content: attr(data-placeholder);
  pointer-events: none;
}

.ProseMirror {
  outline: 0;
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}